<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.meal.mapper.MenuMapper">

    <select id="getMenuByType" resultType="com.homework.meal.vo.MenuVO">
        SELECT m.img, m.name, m.description, m.price, m.sales, m.type, m.id,
               IFNULL(o.cnt, 0) AS cnt, o.set_meal_id
        FROM menu m
        LEFT JOIN (SELECT uid, mid, cnt FROM orders WHERE uid = #{uid} AND status = 0 AND deleted_at IS NULL) o
        ON m.id = o.mid
        <where>
            <if test="type != null and type != '全部菜品'">
                m.type = #{type}
            </if>
        </where>
    </select>
    <select id="getMenuBySetType" resultType="com.homework.meal.vo.MenuVO">
        SELECT m.img, m.name, m.description, m.price, m.sales, m.type, m.id, m.set_type AS setMealId,
        IFNULL(o.cnt, 0) AS cnt
        FROM menu m
        LEFT JOIN (SELECT uid, mid, cnt, set_meal_id FROM orders WHERE uid = #{uid} AND status = 0 AND set_meal_id IS NOT NULL AND deleted_at IS NULL) o
        ON m.set_type = o.set_meal_id
        WHERE m.set_type = #{setType}
    </select>

</mapper>